.navbar {
	display: flex;
	align-items: center;
}

/* Style de l'en-tête */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	display: flex;
	align-items: center;
	background-color:rgb(20, 20, 20);
	z-index: 5;
  	color:#d4d4d4
}

.header.transparent {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    transition: background-color 0.5s ease; /* Ajoutez une transition de 0.5s pour un effet lisse */
}

.navbar__item {
	padding : 15px;
	font-size: 20px;
	font-weight: bold;
	margin-right: 15px;
	cursor: pointer;
}

.navbar__logo {
	padding: 10px;
	width: 110px ;
	margin-left : 50px;
	margin-right : 25px
	
}
  
  .navbar__item:hover {
    color: #d4d4d4;
  }