.page-container {
  visibility: visible;
  position: fixed;    
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  color: white;
  overflow: scroll;
  display: flex;
  justify-content: center;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}
  
  .page-pop {
    position: relative;
    display: inline-block;
    z-index: 10;
    top: 0%;
    margin-top: 30px;
    background-color: rgb(30, 30, 30);
    width: 60%;
    height: auto;
    border-radius: 0.5em;
    padding-bottom: 30px ;
    overflow: scroll;
  }
  
  .image-page {
    width: 100%;
    border-radius: 0.5em;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0), rgba(20, 20, 20, 1));
  }
  
  
  .close {
    position: absolute; 
    top: 0;         /* place le bouton en haut pour positon absolute ou fixed */
    right: 0;       /* pareil mais à droite */
    margin: 15px; 
    width: 40px;
    height: 40px;
    z-index: 11;  
    background-color: rgb(30, 30, 30);
    border: none;
    color: white;
    border-radius: 100%;
    box-shadow: 0 0 4em black;  
    cursor: pointer;
  }