/* Style de la barre de navigation */


  /* Style de la Searchbar */

  .searchbar {
    width: 65%;
  }   

  .search__main {
    float: right;
    width: 40%;
  }

  .search__search {
    float: right;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    background-color: black;
  }

  .search__input {
    float: left;
    width: 80%;
    height: 36px;
    color:rgb(150, 150, 150);
    font-size: 16px;
    border-radius: 0;
    border-style: none;
    background-color: transparent;
  }

  .search__input:focus {
    outline: none;
  }

  .search__loupe {
    float: left;
    padding: 4px;
    width: 36px ;
  }