.UEpage-container {
  visibility: visible;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UEpage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  background-color: rgb(30, 30, 30);
  width: 80%;
  max-width: 800px;
  height: auto;
  border-radius: 1em;
  padding: 30px;
  padding-bottom: 65px;
}

.UEcategory-title {
  font-size: 24px;
  margin-bottom: -100px;
}

.list-element {
  max-width: 100%; /* Limit the width of the Carousel component */
}

.close-button{
  position: absolute; 
  top: 0;         /* place le bouton en haut pour positon absolute ou fixed */
  right: 0;       /* pareil mais à droite */
  margin: 15px; 
  width: 40px;
  height: 40px;
  z-index: 0;  
  background-color: rgb(30, 30, 30);
  border: none;
  color: white;
  border-radius: 100%;
  box-shadow: 0 0 4em black;  
  cursor: pointer;
}

.close.hide {
  opacity: 0%;
}

.carousel-container.uepagepopping {
  position: relative;
  top: 80px;
  margin-bottom: 25px;
  margin-top: 20px;
  margin-right:40px;
  margin-left: 40px;
  height: 240px;
  display: flex;
  overflow-x: hidden; /* to avoid the overflow in the UEPagePopping carousel */
  align-items: center;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  
  
}
